{% extends 'hsm/main.html' %}
{% load static %}
{% block title %} APPOINTMENT {% endblock title %}

{% block body %}
<!-- MAKE AN APPOINTMENT -->
<section id="appointment" data-stellar-background-ratio="3">
    <div class="container">
         <div class="row">

              <div class="col-md-6 col-sm-6">
                   <img src="{% static 'hsm/images/appointment-image.jpg' %}" class="img-responsive" alt="">
              </div>

              <div class="col-md-6 col-sm-6">
                   <!-- CONTACT FORM HERE -->
                   <form id="appointment-form" role="form" method="post" action="#">
                         {% csrf_token %}
                        <!-- SECTION TITLE -->
                        <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                             <h2>Make an appointment</h2>
                        </div>
                        <table border="3">
                              {{forms}}
                              <tr>
                                   <td> <input type="submit" value="Take Appointment"> </td>
                              </tr>
                        </table>
                        </div>
                  </form>
              </div>

         </div>
    </div>
</section>

{% endblock body %}